# Homework

## Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can use the instructions from 06-environment.md.

In [72]:
!pip install numpy pandas matplotlib seaborn

Requirement already satisfied: numpy in ./mlzoomcamp2024/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: pandas in ./mlzoomcamp2024/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: matplotlib in ./mlzoomcamp2024/lib/python3.11/site-packages (3.9.2)
Requirement already satisfied: seaborn in ./mlzoomcamp2024/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./mlzoomcamp2024/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./mlzoomcamp2024/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./mlzoomcamp2024/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./mlzoomcamp2024/lib/python3.11/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: six>=1.5 in ./mlzoomcamp2024/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Q1. Pandas version

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

`pd.__version__`

In [73]:
import pandas as pd
pd.__version__

'2.2.3'

## Getting the data

For this homework, we'll use the Laptops Price dataset. Download it from here.

You can do it with wget:

`wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv`

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [74]:
data = pd.read_csv('laptops.csv')
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

### Q2. Records count

How many records are in the dataset?

12
1000
2160
12160

In [75]:
data.shape

(2160, 12)

### Q3. Laptop brands

How many laptop brands are presented in the dataset?

- 12
- 27
- 28
- 2160

In [76]:
data.Brand.nunique()

27

### Q4. Missing values

How many columns in the dataset have missing values?

- 0
- 1
- 2
- 3

In [77]:
data.isnull().any().sum()

np.int64(3)

### Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

- 869
- 3691
- 3849
- 3936

In [78]:
data[['Laptop','Brand','Final Price']][data['Brand'] == 'Dell'].sort_values(ascending=False,by='Final Price')

                                                 Laptop Brand  Final Price
1335  Dell Precision 5770 Intel Core i7-12700H/16GB/...  Dell      3936.00
1334  Dell Precision 5470 Intel Core i7-12800H/16GB/...  Dell      3469.00
1346  Dell XPS 15 9520 Intel Core i7-12700H/16GB RAM...  Dell      3012.09
1347  Dell XPS 15 9520 Intel Core i7-12700H/32GB/1TB...  Dell      2818.09
1323  Dell Latitude 5520 Intel Core i5-1135G7/8GB/25...  Dell      2450.71
...                                                 ...   ...          ...
1836  Dell Latitude 5480 Intel Core i5-7300U/8GB/256...  Dell       489.00
1839  Dell Latitude E5550 Intel Core i5-5300U/8GB/12...  Dell       489.00
809   Dell Latitude E7450 Intel Core i5-5300U/8GB/25...  Dell       448.99
1843  Dell Vostro 5301 Intel Core i5-1135G7/8GB/256G...  Dell       420.74
633   Dell Latitude E5440 Intel Core i5-4310U/8GB/12...  Dell       379.00

[84 rows x 3 columns]

### Q6. Median value of Screen

1. Find the median value of `Screen` column in the dataset.
2. Next, calculate the most frequent value of the same `Screen` column.
3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.
4. Now, calculate the median value of `Screen` once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

- Yes
- No

In [79]:
print(data['Screen'].median())

15.6

In [80]:
print(data['Screen'].mode())

0    15.6
Name: Screen, dtype: float64

In [81]:
data['Screen'].isna().sum()

np.int64(4)

In [82]:
screen_mode = data['Screen'].mode()

data['Screen'] = data['Screen'].fillna(screen_mode)

In [83]:
data['Screen'].isnull().sum()

np.int64(4)

In [84]:
data['Screen'].median()

np.float64(15.6)

### Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns `RAM`, `Storage`, `Screen`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the sum of all the elements of the result?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- 0.43
- 45.29
- 45.58
- 91.30

In [85]:

import numpy as np

X = np.array(data[['RAM', 'Storage', 'Screen']][data['Brand'] == 'Innjoo'])
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [86]:
print(X.T)

[[  8.    8.    4.    6.    6.    6. ]
 [256.  512.   64.   64.  128.  128. ]
 [ 15.6  15.6  14.1  14.1  14.1  14.1]]

In [87]:
y = [1100,1300,800,900,1000,1100]

XTX = np.matmul(X.T,X)
inv_XTX = np.linalg.inv(XTX)
#print(inv_XTX)

w = np.matmul(np.matmul(inv_XTX,X.T),y)
print(np.sum(w))

91.2998806299555